.link {
  display: inline-block;
  padding: 10px 0;
  font-weight: 700;
  color: var(--primaryTextColor);
  font-size: 22px;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accentColor);
}

.activeLink {
  composes: link;
  color: var(--accentColor);
}

.link:not(:last-child) {
  margin-right: 15px;
}

@media screen and (min-width: 480px) {
  .link {
    padding: 20px 0;
    font-size: 24px;
  }

  .link:not(:last-child) {
    margin-right: 30px;
  }
}
