.form {
  margin-top: 10px;
  margin-bottom: 30px;
}

.label {
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
}

.title {
  display: block;
  text-align: left;
  margin-left: 15px;
  margin-bottom: 5px;
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 15px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}
