.link {
  display: inline-block;
  padding: 12px;
  font-weight: 700;
  font-size: 24px;
  color: var(--primaryTextColor);
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accentColor);
}

.activeLink {
  color: var(--accentColor);
}
