/* @import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap'); */

/* @font-face {
  font-family: 'Comic Sans MS';
  src: url('../src/fonts/comic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
} */

body {
  margin: 0;
  padding: 20px 15px;

  font-family: 'Allan', cursive;
  /* font-family: 'Dancing Script', cursive; */
  /* font-family: 'Comic Sans MS', cursive; */

  text-align: center;
  height: 100vh;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.2),
      rgba(47, 48, 58, 0.2)
    ),
    url('../src/images/fon3.jpg');
  background-color: #e7ecf2;
  /* background-repeat: repeat; */
  /* background-position: center; */
  background-attachment: fixed;
  /* background-size: cover; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
}
