.container {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 10px;
}

.name {
  font-weight: 700;
  margin-right: 15px;
  color: var(--secondaryTextColor);
  font-size: 18px;

  max-width: 130px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* .MuiButtonText {
  border: none;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 24px;
  color: var(--primaryTextColor);
  text-transform: none;
} */

.btn {
  border: none;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 24px;
  color: var(--primaryTextColor);
  text-transform: none;
}

.btn:focus,
.btn:hover {
  border: none;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 24px;
  color: var(--accentColor);
  background-color: transparent;
}

@media screen and (max-width: 550px) {
  .avatar,
  .name {
    display: none;
  }
}

@media screen and (min-width: 650px) {
  .name {
    max-width: 200px;
  }
}
